---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const researchposts = (await getCollection("research")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const researchlast_posts = researchposts.slice(0, 2);

const newsposts = (await getCollection("news")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const newslast_posts = newsposts.slice(0, 2);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Dr. Rhys J. Bunting</div>
    <div class="text-2xl py-3 font-style: italic">Computational Chemist</div>
    <div class="py-2">
      <text class="text-lg text-align: justify-center">
        I apply methods and take inspiration from different fields to tackle key issues within the field of chemistry.
        I have worked and continue to work within the boundaries of chemistry, chemical engineering, physics, and data science.
        I am particularly interested in the fields of energy, catalysis, and C-H activation.
        I combine a variety of methods, such as <em>ab initio</em> electronic structure methods, molecular dynamics, and machine learning to solve these issues.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/cv" target="_blank">My Curriculum Vitae</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent News</div>
  </div>

  {
    newslast_posts.map((news) => (
      <>
        <HorizontalCard
          title={news.data.title}
          img={news.data.heroImage}
          desc={news.data.description}
          url={"/news/" + news.slug}
          target="_self"
          badge={news.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Research Themes</div>
  </div>

  {
    researchlast_posts.map((research) => (
        <>
          <HorizontalCard
              title={research.data.title}
              img={research.data.heroImage}
              desc={research.data.description}
              url={"/research/" + research.slug}
              target="_self"
              badge={research.data.badge}
          />
          <div class="divider my-0" />
        </>
    ))
  }

</BaseLayout>
