---
const { title, img, desc, url, badge, tags, target = "_blank", disableHover = false } = Astro.props;
const hoverClass = disableHover ? '' : 'hover:scale-[102%]';
const shadowClass = disableHover ? '' : 'hover:shadow-xl';
---

<div class="md:w-1/3 w-full">
  <a href={url} target={target}>
    <div class={`card bg-base-100 transition ease-in-out ${shadowClass} mx-6 my-2 ${hoverClass}`}>
      <img src={img} alt={title} width="750" style="aspect-ratio:16/9;" loading="lazy" class="w-full object-cover" />
      <div class="card-body">
        <h2 class="card-title">
          {title}
          {badge && <div class="badge badge-secondary">{badge}</div>}
        </h2>
        <p>{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
        </div>
      </div>
    </div>
  </a>
</div>
